<h2>Добавление новой страницы</h2>
<%= form_for :subpage, url: subpages_path do |f| %>
<% if @subpage %>
    <% if @subpage.errors.any? %>
        <% @subpage.errors.full_messages.each do |msg| %>
            <div><% msg %></div>
        <% end %>
    <% end %>
<% end %>
    <div>Ссылка</div>
    <div><%= f.text_field :sublink %></div>
    <div>Название</div> 
    <div><%= f.text_field :title %></div>
    <div>Текст</div>
    <div><%= f.text_area :body %></div>
    <div><%= f.submit %></div>
<% end %>